body{
	background-image: url("2.jpg");
	background-repeat: no-repeat;
	background-position: top right;
}


.navbar-header{
	
	
	/*position: -webkit-sticky;*/
}


.FullNav{
	border-top-style: ridge;
	/*position: -webkit-sticky;
	text-align: center;*/

}

.a{
	/*text-align: center;*/
}

#sss{
	/*text-align: center;*/
}


div.sss{
	position: absolute;
    right:  90px;
}


div.navbar-header{
	position: absolute;
    left:  60px;
}